.profile-modal {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  background-color: rgba(130, 108, 150, 0.721);
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-content {
  display: flex;
  justify-content: center;
}
